<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.mono2.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <targets>
        <target name="asyncFile" xsi:type="AsyncWrapper">
            <target name="logfile" xsi:type="File" fileName="Titan.log"/>
        </target>
        <target name="console" xsi:type="Console" />
    </targets>

    <rules>
        <log name="*" minlevel="Debug" writeTo="asyncFile" layout=
             "${date:format=HH:mm:ss} ${ĺevel:uppercase=true} ${logger} - ${threadname} - ${message}" />
        <log name="*" minlevel="Debug" writeTo="console" layout=
             "${date:format=HH:mm:ss} ${ĺevel:uppercase=true} ${logger} - ${threadname} - ${message}" />
        <!-- <log name="*" minlevel="Debug" writeTo="console" /> Uncomment this if its production release and comment the above -->
    </rules>

</nlog>