<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net45" />
  <package id="Common.Logging.Serilog" version="4.1.11" targetFramework="net45" />
  <package id="EasyHttp" version="1.7.0" targetFramework="net45" />
  <package id="Eto.Forms" version="2.3.0" targetFramework="net45" />
  <package id="Eto.Platform.Gtk" version="2.3.0" targetFramework="net45" />
  <package id="Eto.Platform.Mac" version="2.3.0" targetFramework="net45" />
  <package id="Eto.Platform.Wpf" version="2.3.0" targetFramework="net45" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net45" />
  <package id="Mono.CSharp" version="4.0.0.143" targetFramework="net45" />
  <package id="Mono.Posix" version="4.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="Quartz" version="2.5.0" targetFramework="net45" />
  <package id="Serilog" version="2.4.0" targetFramework="net45" />
  <package id="Serilog.Enrichers.Thread" version="3.0.0" targetFramework="net45" />
  <package id="Serilog.Sinks.Async" version="1.0.1" targetFramework="net45" />
  <package id="Serilog.Sinks.File" version="3.2.0" targetFramework="net45" />
  <package id="Serilog.Sinks.Literate" version="2.1.0" targetFramework="net45" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net45" />
  <package id="SteamAuth" version="1.1.0" targetFramework="net45" />
  <package id="SteamKit2" version="1.8.3" targetFramework="net45" />
</packages>