[Desktop Entry]
Version=1.6.1
Type=Application
Name=Titan Report and Commend Bot
Comment=A free, advanced CS:GO report and commendation bot built with performance and ease-of-use in mind
Exec=/usr/bin/titan
Icon=/usr/share/pixmaps/Titan.png
Categories=Game;Utility;
Terminal=true
